{% extends 'layout.html' %}
{% block content %}
    <div class="container">
        <h1>项目列表</h1>
        <div>
            <a href="{% url "project_add" %}" style="margin: 10px 0"
               class="btn btn-primary pull-right">添加</a>
        </div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>项目名</th>
                <th>环境</th>
                <th>仓库地址</th>
                <th>线上路径</th>
                <th>关联服务器</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for row in queryset %}
                <tr>
                    <th>{{ row.id }}</th>
                    <th>{{ row.title }}</th>
                    <th>{{ row.get_env_display }}</th>
                    <th>{{ row.repo }}</th>
                    <th>{{ row.path }}</th>
                    <th>
                        {% for item in row.servers.all %}
                            <span style="border: 1px solid #ddd;padding: 5px">{{ item }}</span>
                        {% endfor %}
                    </th>
                    <th>
                        <a href="{% url 'project_edit' pk=row.id %}"
                           class="btn btn-primary">编辑</a>
                        <a onclick="removeRow(this,{{ row.id }})"
                           class="btn btn-danger">删除</a>
                    </th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block js %}
    <script>
        function removeRow(elm, id) {
            var result = confirm('是否确定要删除？')
            if (result) {
                $.get({
                    url: `/project/del/${id}/`,
                    dataType: 'JSON',
                    success: function (res) {
                        if (res.status) {
                            $(elm).parent().parent().remove()
                        }
                    }
                })
            }
        }
    </script>
{% endblock %}


