{% extends 'layout.html' %}
{% block content %}
    <div class="container">
        <h1>发布任务单:{{ project_obj.title }}-{{ project_obj.get_env_display }}</h1>
        <div>
            <a href="{% url 'task_add' project_id=project_obj.id %}"
               style="margin: 10px 0"
               class="btn btn-primary pull-right">添加</a>
        </div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>标识</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for row in task_list %}
                <tr>
                    <th>{{ row.id }}</th>
                    <th>{{ row.uid }}</th>
                    <th>{{ row.get_status_display }}</th>
                    <th>
                        <a href="{% url 'project_edit' pk=row.id %}"
                           class="btn btn-primary">编辑</a>
                        <a onclick="removeRow(this,{{ row.id }})"
                           class="btn btn-danger">删除</a>
                    </th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block js %}
    <script>
        function removeRow(elm, id) {
            var result = confirm('是否确定要删除？')
            if (result) {
                $.get({
                    url: `/project/del/${id}/`,
                    dataType: 'JSON',
                    success: function (res) {
                        if (res.status) {
                            $(elm).parent().parent().remove()
                        }
                    }
                })
            }
        }
    </script>
{% endblock %}


